@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(291, 87%, 74%, 1);
        --x-0: 29%;
        --y-0: 8%;
        --s-start-0: 6%;
        --s-end-0: 65%;
        --c-1: hsla(206, 71%, 53%, 1);
        --x-1: 0%;
        --y-1: 64%;
        --s-start-1: 6%;
        --s-end-1: 83%;
        --c-2: hsla(187, 80%, 79%, 1);
        --x-2: 46%;
        --y-2: 45%;
        --s-start-2: 19%;
        --s-end-2: 69%;
        --c-3: hsla(279, 78%, 92%, 1);
        --x-3: 77%;
        --y-3: 91%;
        --s-start-3: 20%;
        --s-end-3: 89%;
        --c-4: hsla(182, 98%, 90%, 1);
        --x-4: 76%;
        --y-4: 85%;
        --s-start-4: 13%;
        --s-end-4: 62%;
    }

    100% {
        --c-0: hsla(191, 89%, 79%, 1);
        --x-0: 27%;
        --y-0: 23%;
        --s-start-0: 5%;
        --s-end-0: 76%;
        --c-1: hsla(285, 55%, 66%, 1);
        --x-1: 27%;
        --y-1: 93%;
        --s-start-1: 8%;
        --s-end-1: 89%;
        --c-2: hsla(359, 65%, 95%, 1);
        --x-2: 10%;
        --y-2: 72%;
        --s-start-2: 5%;
        --s-end-2: 72%;
        --c-3: hsla(183, 63%, 92%, 1);
        --x-3: 37%;
        --y-3: 79%;
        --s-start-3: 2%;
        --s-end-3: 54%;
        --c-4: hsla(221, 71%, 54%, 1);
        --x-4: 2%;
        --y-4: 80%;
        --s-start-4: 1%;
        --s-end-4: 59%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    /*initial-value: hsla(291, 87%, 74%, 1);*/
    initial-value: #e583f6;
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 29%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 6%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 65%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    /*initial-value: hsla(206, 71%, 53%, 1)*/
    initial-value: #3292dc
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 6%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 83%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    /*initial-value: hsla(187, 80%, 79%, 1)*/
    initial-value: #9feaf4
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 46%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 45%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 69%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    /*initial-value: hsla(279, 78%, 92%, 1)*/
    initial-value: #efdbfb
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 77%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 91%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 89%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    /*initial-value: hsla(182, 98%, 90%, 1)*/
    initial-value: #cdfdfe
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 76%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 62%
}

.your_css_selector_here {
    --c-0: hsla(291, 87%, 74%, 1);
    --x-0: 29%;
    --y-0: 8%;
    --c-1: hsla(206, 71%, 53%, 1);
    --x-1: 0%;
    --y-1: 64%;
    --c-2: hsla(187, 80%, 79%, 1);
    --x-2: 46%;
    --y-2: 45%;
    --c-3: hsla(279, 78%, 92%, 1);
    --x-3: 77%;
    --y-3: 91%;
    --c-4: hsla(182, 98%, 90%, 1);
    --x-4: 76%;
    --y-4: 85%;
;
    background-color: hsla(185, 68%, 53%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite normal;
    background-blend-mode: normal, normal, normal, normal, normal;
}