---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ana Monsalve" description="About Ana Monsalve Developer">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Ana Monsalve"
				tagline="Software Development Assistant specializing in app creation and front-end, with a talent for problem-solving and collaboration."
			>
			<!-- src="/assets/at-work.jpg" -->
				<!-- <img
					width="1553"
					height="873"
					
					alt="Ana Monsalve at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Welcome! I'm Ana María Monsalve, a Technical Assistant in Software Development with a strong track record in business digital transformation. My expertise includes application creation, architecture, and frontend development. I excel in technologies like Node.js, Python, and React, with experience in version control and automation. I take pride in my problem-solving skills, attention to detail, and collaborative teamwork.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
				  <h5>Cesde Institución Educativa</h5>
				  <p>Technical Degree in Software Development</p>
				  <p>Medellín, Colombia</p>
				  <p>Graduated: September 2023</p>
				</div>
				<div class="content">
				  <h5>Servicio Nacional de Aprendizaje (SENA)</h5>
				  <p>Technology in Software Analysis and Development</p>
				  <p>Medellín, Colombia</p>
				  <p>Expected Graduation: october 2026</p>
				</div>
			  </section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h5>Web Development</h5>
					<p>Proficient in both front-end and back-end development using Node.js, Python, Astro, React, HTML, and JavaScript. Skilled in creating responsive and dynamic web applications.</p>
				  </div>
				  <div class="content">
					<h5>Databases</h5>
					<p>Experienced in managing databases such as MongoDB, Firebase, and SQL Server, ensuring efficient data storage and retrieval.</p>
				  </div>
				  <div class="content">
					<h5>Automation and Docker</h5>
					<p>Implemented automation practices and containerization, optimizing workflows and improving deployment processes.</p>
				  </div>
				  <div class="content">
					<h5>Project Management</h5>
					<p>Adept at using Jira for planning, tracking, and managing projects, ensuring timely and efficient completion.</p>
				  </div>
				  <div class="content">
					<h5>Mobile Application Development</h5>
					<p>Created and managed mobile applications using AppSheet, enhancing user experience and functionality.</p>
				  </div>
				</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
