---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Asegúrate de que el script se ejecute después de que el DOM esté completamente cargado
			document.addEventListener('DOMContentLoaded', () => {
				// Toggle dark mode
				function toggleDarkMode() {
					document.documentElement.classList.toggle('theme-dark');
				}
		
				// Añadir el evento de clic al botón después de que el DOM esté listo
				const darkModeToggle = document.getElementById('dark-mode-toggle');
				if (darkModeToggle) {
					darkModeToggle.addEventListener('click', toggleDarkMode);
				} else {
					console.error('El elemento con ID "dark-mode-toggle" no se encontró en el DOM.');
				}
			});
		</script>
		
		<style>
			:root {
				--bg-color-light: #8EC5FC;
				--bg-gradient-light: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
			}
		
			:root.theme-dark {
				--bg-color-dark: #2E2E2E;
				--bg-gradient-dark: linear-gradient(62deg, #2E2E2E 0%, #4B4B4B 100%);
			}
		
			body {
				background-color: var(--bg-color-light); /* Color de fondo para modo claro */
				background-image: var(--bg-gradient-light);
				background-size: cover; /* Ajusta según tus necesidades */
				background-position: center; /* Ajusta según tus necesidades */
			}
		
			body.theme-dark {
				background-color: var(--bg-color-dark); /* Color de fondo para modo oscuro */
				background-image: var(--bg-gradient-dark);
			}
		</style>
		
		<!-- Añadir un botón para alternar el modo oscuro -->
		<button id="dark-mode-toggle">Toggle Dark Mode</button>